---
layout: default
group: customers
title: Our Customers are Smart | Snowplow
description: Our Customers are diverse but have a lot in common, though. They are smart. They love data. And they want to use data to differentiate. Find out how we helped!
permalink: /customers/
class: customers, header-white
assets:
 css: assets/css/customers.css
 js: assets/js/customers.js

---

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <h1>The Case Studies</h1>
                <p class="text-muted">Making extraordinary sucessful stories or, as we call it, business as usual.</p>
            </div>
        </div>        
    </div>
</section>


<section class="case-studies">
   <div class="container">        
        <div class="case-studies-container">
           {% for case in site.data.case_studies %}           
                <div class="case-studies-block {{ case.color }}" data-class={{ case.color }}>
                   <img src={{ case.picture_top }} src={{ case.picture_top_wide }} class="case-studies-block-pic-top">
                   <div class="case-studies-block-wrapper">
                       <div class="case-studies-block-sector">
                           <img src="{{ case.sector_icon }}" alt="">
                           <p>{{ case.sector }}</p>
                       </div>
                       <img src="{{ case.icon }}" alt="{{ case.company }}" class="case-studies-block-logo">
                       <p class="case-studies-block-content">{{ case.content }}</p>
                       <p class="case-studies-block-quote">{{ case.quote }}</p>
                       <p class="case-studies-block-name">{{ case.name }}</p>
                       <p class="case-studies-block-position">{{ case.position }}</p>
                   </div>                    
                </div>
           {% endfor %}
        </div>    
        <div class="text-center snowplw-btn-container">
           <div class="snowplw-btn-sides left"></div>
           <div class="btn btn-primary spacer-top-50 xs-spacer-top-30">
               See all Case Studies
           </div>
       </div>      
   </div>
</section>




<section class="testemonials">
   <div class="container">
       <h2 class="text-center">Testimonials</h2>
       <p class="text-muted text-center">What our customers say about us.</p>
       <div class="testemonials-block-container">
           <div class="testemonials-block-wrapper" style="">
               {% for testemonial in site.data.testimonials %} 
               {% assign test = testemonial[1] %} 
                   <div class="testemonials-block">
                        <div class="testemonials-block-pic" style="background-image: url({{ test.picture }});"></div>
                        <div class="testemonials-block-right">
                            <p class="testemonials-block-content">{{ test.content }}</p>
                            <p class="testemonials-block-name">{{ test.full_name }}</p>
                            <p class="testemonials-block-position">{{ test.position }} <span>{{ test.company }}</span></p>
                        </div>
                   </div>
               {% endfor %}
                
           </div>   
           <div class="testemonials-count-container">
                {% assign i = 1 %}
                {% for case in site.data.testimonials %}
                    <div class="testemonials-count {% if i == 1 %} active_ {% endif %}">{{ i }}</div>
                    {% assign i = i | plus:1 %}
                {% endfor %}
            </div>
            <div class="testemonials-arrows-container">
                <div class="testemonials-arrows prev_ innactive_"><i class="i-arrow-left"></i></div>
                <div class="testemonials-arrows next_"><i class="i-arrow-right"></i></div>
            </div>        
       </div>      
     </div>
</section>




<svg class="defs-only">
 <filter id="monochrome" color-interpolation-filters="sRGB"
         x="0" y="0" height="100%" width="100%">
   <feColorMatrix type="matrix"
     values="0 0 0 0 0 
             0 0 0 0 0  
             0 0 0 0 0 
             0    0 0 .25 0" />
 </filter>
</svg>
<section class="users">
   <div class="container">
       <h2 class="text-center">Our Users</h2>
       <p class="text-muted text-center">Snowplow users are diverse and are leaders in financial services, eCommerce, mobile gaming, finance, and many other industries.</p>
       <div class="users-block-container">
           {% for user in site.data.users %} 
               <a href="{{ user.link }}" target="_blank" class="users-block">
                   <span class="highlight"></span>
                   <img src="{{ user.picture }}" alt="image" />
               </a> 
           {% endfor %}
       </div>
       <div class="text-center snowplw-btn-container">
           <div class="snowplw-btn-sides left"></div>
           <div class="btn btn-primary" id="btn_users">
               See all Users
           </div>
           <div class="snowplw-btn-sides right"></div>
       </div>       
     </div>
</section>





<section class="videos">

    <div class="triangle up green"></div>
    <div class="triangle bottom purple"></div>
    <div class="triangle up grey"></div>

    <div class="container">

        <h2 class="text-center">Videos</h2>
        <p class="text-muted text-center">Find out how Snowplow enables Smart People to be transformative with data.</p>

        <div class="videos-container row">
            <div class="videos-block col-sm-12">
                <div class="videos-img" style="background-image: url(/assets/img/costumers/costumers-v2-videos-01.jpg);" alt=""></div>
                <h3>Evolving Your Data Pipeline - Yali Sassoon - Snowplow San Francisco Meetup #2</h3>
                <p class="small">
                    115 views
                    <br>
                    10 months ago
                </p>
            </div>
            <div class="videos-block col-sm-4">
                <div class="videos-img" style="background-image: url(/assets/img/costumers/costumers-v2-videos-02.jpg);" alt=""></div>
                <p>Intro to Snowplow and roadmap - Alex Dean - Snowplow Amsterdam Meetup #3</p>
                <p class="small">
                    115 views
                    <br>
                    10 months ago
                </p>
            </div>
            <div class="videos-block col-sm-4">
                <div class="videos-img" style="background-image: url(/assets/img/costumers/costumers-v2-videos-03.jpg);" alt=""></div>
                <p>Look & Tell London - Snowplow on Looker</p>
                <p class="small">
                    115 views
                    <br>
                    10 months ago
                </p>
            </div>
            <div class="videos-block col-sm-4">
                <div class="videos-img" style="background-image: url(/assets/img/costumers/costumers-v2-videos-04.jpg);" alt=""></div>
                <p>Snowplow at Peak - Thomas in't Veld - Snowplow Berlin Meetup #4</p>
                <p class="small">
                    115 views
                    <br>
                    10 months ago
                </p>
            </div>
        </div>

        <div class="text-center snowplw-btn-container">
            <div class="btn btn-primary spacer-top-50 xs-spacer-top-30">
                See all Case Users
            </div>
        </div>

    </div>
</section>




<section class="media">
    <div class="container">

        <h2 class="text-center">Snowplow in the media</h2>
        <p class="text-muted text-center">Conectum virboratem juris domun saet nonclosuri. Aesteto guntinuum.</p>
        
        <div class="testemonials-block-container">
            <div class="testemonials-block-wrapper" style="">
               {% for media in site.data.media %} 
                   <div class="testemonials-block media-block">
                        <div class="testemonials-block-pic" style="background-image: url({{ media.picture }});"></div>
                        <div class="testemonials-block-right">
                            <p class="testemonials-block-content">{{ media.title }}</p>
                            <p class="testemonials-block-name">{{ media.name }}</p>
                            <p class="testemonials-block-position">{{ media.content }}</p>
                        </div>
                   </div>
               {% endfor %}
    
            </div>         
        </div>

        <div class="container">

            <div class="testemonials-count-container">
                {% assign i = 1 %}
                {% for media in site.data.media %}
                    <div class="testemonials-count {% if i == 1 %} active_ {% endif %}">{{ i }}</div>
                    {% assign i = i | plus:1 %}
                {% endfor %}
            </div>

            <div class="testemonials-arrows-container">
                <div class="testemonials-arrows prev_ innactive_"><i class="i-arrow-left"></i></div>
                <div class="testemonials-arrows next_"><i class="i-arrow-right"></i></div>
            </div>

        </div>        
    </div>
</section>




<section class="differentiate">
   <div class="container-fluid">
   <!-- <div class="container-fluid hidden-xs"> -->
       <div class="container">
           <div class="row">
               <h2 class="text-center">Using data to differentiate.</h2>
               <p class="text-muted text-center">Find out how Snowplow enables Smart People to be transformative with data.</p>
           </div>
           <div class="row">
               <div class="col-sm-6 differentiate-content left">
                   <h3>Our Users are diverse.</h3>
                   <p>
                       From publishing companies to retailers, jobs boards to broadcasters, dating sites to mobile-only banking providers, limousine services to consumer goods manufacturers, automotive dealerships to games companies, airports to luxury brands, travel companies to serviced office providers, there are not many sectors without a Snowplow user. 
                   </p>
                   <p>
                       We have active and growing communities in London, New York, Sydney, Amsterdam, Sao Paolo, Berlin, San Francisco, Tel Aviv and Dubai.
                   </p>
                   <p>
                       Our customers have a lot in common, though. They are smart. They love data. And they want to use data to differentiate.
                   </p>
               </div>
           </div>
         </div>
       <!-- <img src="/assets/img/common/comp-1.jpg" srcset="assets/img/common/comp-1%402x.jpg 2x" class="comp-1"> -->
       <div class="silver-square"></div>
       <img src="/assets/img/common/comp-2.jpg" srcset="/assets/img/common/comp-2@2x.jpg 2x" class="comp-2">
       <div class="container">
           <div class="row">
               <div class="col-sm-6 differentiate-content right">
                   <h3>
                       Our Users love data
                       <br>
                       and want to use it to 
                       <br>
                       differentiate.
                   </h3>
                   <p>
                       There are many digital analytics solutions out there. Many are easier to use than Snowplow. But none of them give you the control of your data that Snowplow does.
                       <br>
                       Our users want to be transformative with data. That is why they value that control.
                   </p>
               </div>
           </div>
       </div>        
       <div class="container">
           <img src="/assets/img/common/comp-3.png" srcset="/assets/img/common/comp-3@2x.png 2x" class="comp-3">
           <div class="differentiate-content center">
               <h2 class="text-center">Our Users are smart.</h2>
               <p class="text-muted text-center">
                   They have to be. Using data to be transformative is hard. 
                   <br>
                   Our technology can help you take control of your data. 
                   <br>
                   But only smart people in smart teams can use that control to be transformative.
                 </p>
             </div>
       </div>         
     </div>
   
   <!-- <div class="container visible-xs">
       <h2 class="text-center">Using data to differentiate.</h2>
       <p class="text-muted text-center">Find out how Snowplow enables Smart People to be transformative with data.</p>
       <div class="row visible-xs">
           <img src="/assets/img/common/comp-1.jpg" srcset="assets/img/common/comp-1%402x.jpg 2x" class="comp-1-mob img-responsive">
         </div>
       <div class="row">
           <div class="col-sm-6 differentiate-content left">
               <h3>Our Users are diverse.</h3>
                 <p>
                   From publishing companies to retailers, jobs boards to broadcasters, dating sites to mobile-only banking providers, limousine services to consumer goods manufacturers, automotive dealerships to games companies, airports to luxury brands, travel companies to serviced office providers, there are not many sectors without a Snowplow user. 
                 </p>
                 <p>
                   We have active and growing communities in London, New York, Sydney, Amsterdam, Sao Paolo, Berlin, San Francisco, Tel Aviv and Dubai.
                 </p>
                 <p>
                   Our customers have a lot in common, though. They are smart. They love data. And they want to use data to differentiate.
                 </p>
             </div>
         </div>
       <div class="row visible-xs">
           <img src="/assets/img/common/comp-2.png" srcset="/assets/img/common/comp-2@2x.png 2x" class="comp-2-mob img-responsive">
         </div>
       <div class="row">
           <div class="col-sm-6 differentiate-content right">
               <h3>
                   Our Users love data
                   <br>
                   and want to use it to 
                   <br>
                   differentiate.
               </h3>
                 <p>
                   There are many digital analytics solutions out there. Many are easier to use than Snowplow. But none of them give you the control of your data that Snowplow does.
                   <br>
                   Our users want to be transformative with data. That is why they value that control.
                 </p>
             </div>
         </div>
       <div class="row visible-xs">
           <img src="/assets/img/common/comp-3.png" srcset="/assets/img/common/comp-3@2x.png 2x" class="comp-3-mob img-responsive">
       </div>
       <div class="differentiate-content center">
           <h2 class="text-center">Our Users are smart.</h2>
           <p class="text-muted text-center">
               They have to be. Using data to be transformative is hard. 
               <br>
               Our technology can help you take control of your data. 
               <br>
               But only smart people in smart teams can use that control to be transformative.
           </p>
       </div>        
     </div> -->
</section>


<section class="jumbotron theme-light no-vertical-gutter height-auto parallax" style="background-image:url({{ BASE_PATH }}/assets/img/common/Snowplow_Website-Images_Cases_JustWatch_Hero.jpg)">
    <div class="container">

        {% include request-demo.html %}

        <div class="spacer-top-100">
            <h6 class="text-uppercase">Our case Studies</h6>
            <h3>JustWatch</h3>
            <h4>How JustWatch uses Snowplow data to drive spectacular growth.</h4>
            <a href="/customers/justwatch/" class="btn btn-primary spacer-top-70">See Case Study</a>
        </div>
    </div>
</section>


















